{
  "openapi": "3.0.0",
  "info": {
    "title": "InformerOnline API",
    "description": "Move your app forward with the InformerOnline API\nFirst make sure you have a valid Informer account, then click <a href='https://app.informer.eu/settings/api/' target='_blank'>here</a> to create your API key.\n\nALL DATES ARE IN FORMAT 'YYYY-mm-dd'!\n\nIf anything in this documentation is not clear enough or you require assistance related to the API, you can contact support at api@informer.eu\n",
    "contact": {
      "email": "api@informer.eu"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.informer.eu/v2",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "Code": [],
      "Apikey": []
    }
  ],
  "tags": [
    {
      "name": "Administration",
      "description": "Details about the administration this API-key is linked to"
    },
    {
      "name": "Relations",
      "description": "Manage relations (customers, suppliers, leads, prospects)"
    },
    {
      "name": "Contacts",
      "description": "Manage contact persons linked to relations"
    },
    {
      "name": "Sales Invoices",
      "description": "Create, retrieve, update and send sales invoices"
    },
    {
      "name": "Purchase Invoices",
      "description": "Create and retrieve purchase invoices"
    },
    {
      "name": "Recurring Invoices",
      "description": "Create, retrieve and update recurring invoices"
    },
    {
      "name": "Sales Orders",
      "description": "Create, retrieve, update and send sales orders (requires trade module)"
    },
    {
      "name": "Quotations",
      "description": "Create, retrieve, update and send quotations"
    },
    {
      "name": "Salesbook",
      "description": "Create, retrieve and update salesbook invoices (purchase invoices logged in the sales book)"
    },
    {
      "name": "Payment Conditions",
      "description": "Retrieve payment conditions configured for the administration"
    },
    {
      "name": "Templates",
      "description": "Retrieve document templates for invoices, orders and quotations"
    },
    {
      "name": "VAT",
      "description": "Retrieve VAT/tax options and percentages"
    },
    {
      "name": "Ledgers",
      "description": "Retrieve ledger (chart of accounts) options"
    },
    {
      "name": "Costs",
      "description": "Retrieve cost centre accounts"
    },
    {
      "name": "Currencies",
      "description": "Retrieve available currencies and exchange rates"
    },
    {
      "name": "Attachments",
      "description": "Retrieve available document attachments"
    },
    {
      "name": "Products",
      "description": "Retrieve products (requires trade module)"
    },
    {
      "name": "Memorandum",
      "description": "Create, retrieve, update and delete memorandum journal entries"
    },
    {
      "name": "Reports",
      "description": "Retrieve financial reports such as the balance sheet and column balance"
    }
  ],
  "paths": {
    "/administration": {
      "get": {
        "tags": [
          "Administration"
        ],
        "summary": "Get administration details",
        "description": "Get details about the administration linked to this API key, including address, contact information, tax IDs and active modules.",
        "responses": {
          "200": {
            "description": "Administration details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Administration"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/relations/{id}": {
      "get": {
        "tags": [
          "Relations"
        ],
        "summary": "Get a single relation",
        "description": "Get a single relation by ID. Includes contacts, tags and custom fields (free fields).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the relation.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Relation details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelationDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Relations"
        ],
        "summary": "Update a relation",
        "description": "Update an existing relation by ID. Not all fields are required; you can send only the fields you want to update.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the relation to update.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Relation updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string",
                      "example": "Relation saved"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Relation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/relations": {
      "get": {
        "tags": [
          "Relations"
        ],
        "summary": "Get a list of relations",
        "description": "Get a paginated list of all relations. For each relation the contacts, tags and subtypes are included.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (default = 1).",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "records",
            "in": "query",
            "required": false,
            "description": "Number of records per page (default = 20).",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search string. Searches in company name, street, city and relation number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_edit",
            "in": "query",
            "required": false,
            "description": "Only return relations edited after this date (format: YYYY-mm-dd).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of relations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "relations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Relation"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Relations"
        ],
        "summary": "Create a new relation",
        "description": "Create a new relation. The relation_number is optional; if omitted or 0, a new number is generated. The fields sales_invoice_template_id and payment_condition_id are optional; default values will be used if not provided.\n\nWhen relation_type is 0 (company): company_name is required, firstname/surname are forbidden.\nWhen relation_type is 1 (private): firstname and surname are required, company_name is forbidden.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Relation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string",
                      "example": "Relation saved"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Relation not found (when updating)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/contact/{id}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get a single contact",
        "description": "Get a single contact person by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the contact.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update a contact",
        "description": "Update an existing contact person by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the contact to update.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string",
                      "example": "Contact saved"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/contact": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create a new contact",
        "description": "Create a new contact person linked to a relation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string",
                      "example": "Contact saved"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/sales/{id}": {
      "get": {
        "tags": [
          "Sales Invoices"
        ],
        "summary": "Get a single sales invoice",
        "description": "Get a single sales invoice by ID, including all line items.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the sales invoice.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sales invoice details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesInvoice"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Sales Invoices"
        ],
        "summary": "Update a sales invoice",
        "description": "Update an existing sales invoice by ID. The invoice must be in concept status.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the sales invoice to update.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SalesInvoiceInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Invoice not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/sales": {
      "get": {
        "tags": [
          "Sales Invoices"
        ],
        "summary": "Get a list of sales invoices",
        "description": "Get a paginated list of all sales invoices with their line items.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (default = 1).",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "records",
            "in": "query",
            "required": false,
            "description": "Number of records per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter invoices by status.",
            "schema": {
              "type": "string",
              "enum": [
                "concept",
                "open",
                "collect",
                "accruals",
                "collection_fines",
                "payment_plans"
              ]
            }
          },
          {
            "name": "last_edit",
            "in": "query",
            "required": false,
            "description": "Only return invoices edited after this date (format: YYYY-mm-dd).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "relation_id",
            "in": "query",
            "required": false,
            "description": "Only return invoices for the relation with this ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort order. Format: field.direction (e.g. date.desc). Available fields: created, name, number, date, amount, invoiceAmountPaid, invoiceAmountOpen.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of sales invoices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "invoices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SalesInvoice"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Sales Invoices"
        ],
        "summary": "Create a new sales invoice",
        "description": "Create a new sales invoice. Use the /invoices/sales/options endpoint first to determine valid combinations of vat_id, ledger_id and vat_option.\n\nLines can be either regular lines (with qty, amount, vat_id, ledger_id) or info lines (with info=true and description only).\n\nFor administrations in Austria (AT) or Germany (DE), the delivery_date field is also required.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SalesInvoiceInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (e.g. relation_id does not exist)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/sales/options": {
      "get": {
        "tags": [
          "Sales Invoices"
        ],
        "summary": "Get sales invoice options",
        "description": "Get the available VAT rates with their compatible ledger accounts and VAT options. Use this endpoint to determine valid combinations of vat_id, ledger_id and vat_option when creating invoices.",
        "responses": {
          "200": {
            "description": "Array of VAT rates with their compatible ledger accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VatLedgerOption"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/invoices/sales/pdf/{id}": {
      "get": {
        "tags": [
          "Sales Invoices"
        ],
        "summary": "Get sales invoice PDF",
        "description": "Download the PDF of a sales invoice as a base64-encoded string.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the sales invoice.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Base64-encoded PDF file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pdf": {
                      "type": "string",
                      "description": "Base64-encoded PDF content."
                    },
                    "filename": {
                      "type": "string",
                      "description": "The filename of the PDF."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No PDF available for this sales invoice",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/sales/send/{id}": {
      "post": {
        "tags": [
          "Sales Invoices"
        ],
        "summary": "Send a sales invoice",
        "description": "Send a sales invoice via email, mark as sent, or send via Peppol. The invoice will be finalized before sending.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the sales invoice to send.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendInvoiceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invoice has been sent successfully"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Invoice not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error or send failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/sales/{id}/attachments": {
      "post": {
        "tags": [
          "Sales Invoices"
        ],
        "summary": "Upload an invoice-specific attachment",
        "description": "Upload a file as a document-specific attachment for a sales invoice. The file content must be base64-encoded. Supported types: PDF, PNG, JPEG, GIF, DOC, DOCX, XLS, XLSX. Maximum size: 10 MB. The attachment is automatically included when the invoice is sent by email and is preserved when the invoice is updated. Do not reference these IDs in the 'attachments' field of POST/PUT requests; manage them only through this endpoint.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the sales invoice.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "filename",
                  "file"
                ],
                "properties": {
                  "filename": {
                    "type": "string",
                    "description": "Original filename including extension (e.g. 'contract.pdf').",
                    "example": "contract.pdf"
                  },
                  "file": {
                    "type": "string",
                    "description": "Base64-encoded file content."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Attachment uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of the created attachment."
                    },
                    "filename": {
                      "type": "string"
                    },
                    "size": {
                      "type": "integer",
                      "description": "File size in bytes."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Invoice not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error (missing fields, invalid base64, unsupported type, or file too large)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/sales/{id}/attachments/{attachment_id}": {
      "get": {
        "tags": [
          "Sales Invoices"
        ],
        "summary": "Download an invoice attachment",
        "description": "Download the file content of an attachment linked to a sales invoice, base64-encoded. Works for both shared library attachments and invoice-specific document attachments, as long as the attachment is linked to this invoice. The file content is only returned by this endpoint, not in the invoice GET response.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the sales invoice.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "attachment_id",
            "in": "path",
            "required": true,
            "description": "The ID of the attachment to download.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment file content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of the attachment."
                    },
                    "filename": {
                      "type": "string",
                      "nullable": true,
                      "description": "Original filename."
                    },
                    "file": {
                      "type": "string",
                      "description": "Base64-encoded file content."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "attachment_id is not numeric",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Invoice or attachment not found, or file missing from storage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Sales Invoices"
        ],
        "summary": "Delete an invoice-specific attachment",
        "description": "Delete a document-specific attachment from a sales invoice. The file is permanently removed from storage.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the sales invoice.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "attachment_id",
            "in": "path",
            "required": true,
            "description": "The ID of the attachment to delete.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of the deleted attachment."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "attachment_id is not numeric",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Invoice or attachment not found for this invoice",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/purchase/{id}": {
      "get": {
        "tags": [
          "Purchase Invoices"
        ],
        "summary": "Get a single purchase invoice",
        "description": "Get a single purchase invoice by ID, including all line items.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the purchase invoice.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase invoice details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurchaseInvoice"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/purchase": {
      "get": {
        "tags": [
          "Purchase Invoices"
        ],
        "summary": "Get a list of purchase invoices",
        "description": "Get a paginated list of all purchase invoices with their line items.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (default = 1).",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "records",
            "in": "query",
            "required": false,
            "description": "Number of records per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter purchase invoices by status.",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "expired",
                "process",
                "approve",
                "accruals"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort order. Format: field.direction (e.g. date.desc). Available fields: created, name, number, date, expiry_date, amount, invoiceAmountPaid, invoiceAmountOpen.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_edit",
            "in": "query",
            "required": false,
            "description": "Only return invoices edited after this date (format: YYYY-mm-dd).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "relation_id",
            "in": "query",
            "required": false,
            "description": "Only return invoices for the relation with this ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of purchase invoices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "invoices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PurchaseInvoice"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Purchase Invoices"
        ],
        "summary": "Create a new purchase invoice",
        "description": "Create a new purchase invoice. Use the /invoices/purchase/options endpoint first to determine valid combinations of vat_id and ledger_id.\n\nThe amount field per line is the gross amount (excl or incl VAT depending on vat_option). The vat_amount is the VAT portion of that amount.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurchaseInvoiceInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Purchase invoice created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "The ID of the created purchase invoice."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/purchase/options": {
      "get": {
        "tags": [
          "Purchase Invoices"
        ],
        "summary": "Get purchase invoice options",
        "description": "Get the available VAT rates with their compatible ledger accounts for creating purchase invoices.",
        "responses": {
          "200": {
            "description": "VAT and ledger options for purchase invoices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ledgers": {
                      "type": "array",
                      "description": "Available ledger accounts.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "number": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "vat": {
                      "type": "array",
                      "description": "Available VAT rates.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "percentage": {
                            "type": "number",
                            "format": "float"
                          }
                        }
                      }
                    },
                    "vat_options": {
                      "type": "object",
                      "description": "Available VAT options.",
                      "properties": {
                        "excl": {
                          "type": "boolean"
                        },
                        "incl": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/invoices/purchase/pdf/{id}": {
      "get": {
        "tags": [
          "Purchase Invoices"
        ],
        "summary": "Get purchase invoice PDF",
        "description": "Download the PDF attached to a purchase invoice as a base64-encoded string.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the purchase invoice.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Base64-encoded PDF file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pdf": {
                      "type": "string",
                      "description": "Base64-encoded PDF content."
                    },
                    "filename": {
                      "type": "string",
                      "description": "The filename of the PDF."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No PDF available for this purchase invoice",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/recurring/{id}": {
      "get": {
        "tags": [
          "Recurring Invoices"
        ],
        "summary": "Get a single recurring invoice",
        "description": "Get a single recurring invoice by ID, including all line items.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the recurring invoice.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recurring invoice details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecurringInvoice"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Recurring Invoices"
        ],
        "summary": "Update a recurring invoice",
        "description": "Update an existing recurring invoice by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the recurring invoice to update.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecurringInvoiceInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recurring invoice updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Recurring invoice not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/recurring": {
      "get": {
        "tags": [
          "Recurring Invoices"
        ],
        "summary": "Get a list of recurring invoices",
        "description": "Get a paginated list of all recurring invoices with their line items.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (default = 1).",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "records",
            "in": "query",
            "required": false,
            "description": "Number of records per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter recurring invoices by status.",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "ended"
              ]
            }
          },
          {
            "name": "last_edit",
            "in": "query",
            "required": false,
            "description": "Only return recurring invoices edited after this date (format: YYYY-mm-dd).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "relation_id",
            "in": "query",
            "required": false,
            "description": "Only return recurring invoices for the relation with this ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort order. Format: field.direction (e.g. start_date.desc). Available fields: created, name, contact, number, type, period, start_date, end_date, invoice_date, amount.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of recurring invoices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "recurring_invoices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RecurringInvoice"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Recurring Invoices"
        ],
        "summary": "Create a new recurring invoice",
        "description": "Create a new recurring invoice. Use the /invoices/recurring/options endpoint first to determine valid combinations of vat_id, ledger_id and vat_option.\n\nLines can be either regular lines (with qty, amount, vat_id, ledger_id) or info lines (with info=true and description only).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecurringInvoiceInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recurring invoice created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (e.g. relation_id does not exist)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/recurring/options": {
      "get": {
        "tags": [
          "Recurring Invoices"
        ],
        "summary": "Get recurring invoice options",
        "description": "Get the available VAT rates with their compatible ledger accounts and VAT options. Use this endpoint to determine valid combinations of vat_id, ledger_id and vat_option when creating recurring invoices. Per VAT rate the usable ledger accounts and compatible vat_option values are returned.",
        "responses": {
          "200": {
            "description": "Array of VAT rates with their compatible ledger accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VatLedgerOption"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/sales/{id}": {
      "get": {
        "tags": [
          "Sales Orders"
        ],
        "summary": "Get a single sales order",
        "description": "Get a single sales order by ID, including all line items. Requires the trade module to be active.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the sales order.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sales order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesOrder"
                }
              }
            }
          },
          "403": {
            "description": "Trade module is not active",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Sales Orders"
        ],
        "summary": "Update a sales order",
        "description": "Update an existing sales order by ID. Requires the trade module to be active.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the sales order to update.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SalesOrderInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            }
          },
          "403": {
            "description": "Trade module is not active",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orders/sales": {
      "get": {
        "tags": [
          "Sales Orders"
        ],
        "summary": "Get a list of sales orders",
        "description": "Get a paginated list of all sales orders with their line items. Requires the trade module to be active.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (default = 1).",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "records",
            "in": "query",
            "required": false,
            "description": "Number of records per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter orders by status.",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "compleet",
                "invoice",
                "cancelled"
              ]
            }
          },
          {
            "name": "last_edit",
            "in": "query",
            "required": false,
            "description": "Only return orders edited after this date (format: YYYY-mm-dd).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "relation_id",
            "in": "query",
            "required": false,
            "description": "Only return orders for the relation with this ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort order. Format: field.direction (e.g. date.desc). Available fields: created, number, name, date, amount.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of sales orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "orders": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SalesOrder"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Trade module is not active",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Sales Orders"
        ],
        "summary": "Create a new sales order",
        "description": "Create a new sales order. Requires the trade module to be active. Use the /orders/sales/options endpoint first to determine valid combinations of vat_id, ledger_id and vat_option.\n\nFor administrations in Austria (AT) or Germany (DE), the delivery_date field is also required.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SalesOrderInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            }
          },
          "403": {
            "description": "Trade module is not active",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orders/sales/options": {
      "get": {
        "tags": [
          "Sales Orders"
        ],
        "summary": "Get sales order options",
        "description": "Get the available VAT rates with their compatible ledger accounts and VAT options for creating sales orders. Requires the trade module to be active.",
        "responses": {
          "200": {
            "description": "Array of VAT rates with their compatible ledger accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VatLedgerOption"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Trade module is not active for this administration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/sales/pdf/{id}": {
      "get": {
        "tags": [
          "Sales Orders"
        ],
        "summary": "Get sales order PDF",
        "description": "Download the PDF of a sales order as a base64-encoded string.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the sales order.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Base64-encoded PDF file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pdf": {
                      "type": "string",
                      "description": "Base64-encoded PDF content."
                    },
                    "filename": {
                      "type": "string",
                      "description": "The filename of the PDF."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No PDF available for this sales order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/sales/send/{id}": {
      "post": {
        "tags": [
          "Sales Orders"
        ],
        "summary": "Send a sales order",
        "description": "Send a sales order via email or mark as sent. Requires the trade module to be active. Peppol is not available for sales orders.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the sales order to send.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Order has been sent successfully"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Trade module is not active",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error or send failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/quotations/{id}": {
      "get": {
        "tags": [
          "Quotations"
        ],
        "summary": "Get a single quotation",
        "description": "Get a single quotation by ID, including all line items.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the quotation.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quotation details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quotation"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Quotations"
        ],
        "summary": "Update a quotation",
        "description": "Update an existing quotation by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the quotation to update.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuotationInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quotation updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Quotation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/quotations": {
      "get": {
        "tags": [
          "Quotations"
        ],
        "summary": "Get a list of quotations",
        "description": "Get a paginated list of all quotations with their line items.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (default = 1).",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "records",
            "in": "query",
            "required": false,
            "description": "Number of records per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter quotations by status.",
            "schema": {
              "type": "string",
              "enum": [
                "concept",
                "open",
                "expired",
                "accepted",
                "cancelled"
              ]
            }
          },
          {
            "name": "last_edit",
            "in": "query",
            "required": false,
            "description": "Only return quotations edited after this date (format: YYYY-mm-dd).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "relation_id",
            "in": "query",
            "required": false,
            "description": "Only return quotations for the relation with this ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort order. Format: field.direction (e.g. date.desc). Available fields: created, number, name, date, expirationDate, succesRate, amount.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of quotations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "invoices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Quotation"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Quotations"
        ],
        "summary": "Create a new quotation",
        "description": "Create a new quotation. Use the /quotations/options endpoint first to determine valid combinations of vat_id, ledger_id and vat_option.\n\nFor administrations in Austria (AT) or Germany (DE), the delivery_date field is also required.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuotationInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quotation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/quotations/options": {
      "get": {
        "tags": [
          "Quotations"
        ],
        "summary": "Get quotation options",
        "description": "Get the available VAT rates with their compatible ledger accounts and VAT options for creating quotations.",
        "responses": {
          "200": {
            "description": "Array of VAT rates with their compatible ledger accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VatLedgerOption"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/quotations/pdf/{id}": {
      "get": {
        "tags": [
          "Quotations"
        ],
        "summary": "Get quotation PDF",
        "description": "Download the PDF of a quotation as a base64-encoded string.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the quotation.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Base64-encoded PDF file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pdf": {
                      "type": "string",
                      "description": "Base64-encoded PDF content."
                    },
                    "filename": {
                      "type": "string",
                      "description": "The filename of the PDF."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No PDF available for this quotation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/quotations/send/{id}": {
      "post": {
        "tags": [
          "Quotations"
        ],
        "summary": "Send a quotation",
        "description": "Send a quotation via email, mark as sent, or send via Peppol.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the quotation to send.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendInvoiceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quotation sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Quotation has been sent successfully"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Quotation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error or send failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/salesbook/{id}": {
      "get": {
        "tags": [
          "Salesbook"
        ],
        "summary": "Get a single salesbook invoice",
        "description": "Get a single salesbook invoice by ID, including all line items.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the salesbook invoice.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Salesbook invoice details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SalesbookInvoice"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Salesbook"
        ],
        "summary": "Update a salesbook invoice",
        "description": "Update an existing salesbook invoice by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the salesbook invoice to update.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SalesbookInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Salesbook invoice updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Salesbook invoice not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/salesbook": {
      "get": {
        "tags": [
          "Salesbook"
        ],
        "summary": "Get a list of salesbook invoices",
        "description": "Get a paginated list of all salesbook invoices with their line items.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (default = 1).",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "records",
            "in": "query",
            "required": false,
            "description": "Number of records per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter salesbook invoices by status.",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "collect",
                "accruals",
                "process"
              ]
            }
          },
          {
            "name": "last_edit",
            "in": "query",
            "required": false,
            "description": "Only return salesbook invoices edited after this date (format: YYYY-mm-dd).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "relation_id",
            "in": "query",
            "required": false,
            "description": "Only return salesbook invoices for the relation with this ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort order. Format: field.direction (e.g. date.desc). Available fields: created, name, number, date, amount, invoiceAmountPaid, invoiceAmountOpen.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of salesbook invoices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "invoices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SalesbookInvoice"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Salesbook"
        ],
        "summary": "Create a new salesbook invoice",
        "description": "Create a new salesbook invoice. Use the /salesbook/options endpoint first to determine valid combinations of vat_id, ledger_id and vat_option.\n\nA PDF file can optionally be attached as a base64-encoded string.\n\nFor administrations in Austria (AT) or Germany (DE), the delivery_date field is also required.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SalesbookInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Salesbook invoice created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/salesbook/options": {
      "get": {
        "tags": [
          "Salesbook"
        ],
        "summary": "Get salesbook options",
        "description": "Get the available VAT rates with their compatible ledger accounts and VAT options for creating salesbook invoices.",
        "responses": {
          "200": {
            "description": "Array of VAT rates with their compatible ledger accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VatLedgerOption"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/salesbook/pdf/{id}": {
      "get": {
        "tags": [
          "Salesbook"
        ],
        "summary": "Get salesbook PDF",
        "description": "Download the PDF file attached to a salesbook invoice as a base64-encoded string.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the salesbook invoice.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Base64-encoded PDF file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pdf": {
                      "type": "string",
                      "description": "Base64-encoded PDF content."
                    },
                    "filename": {
                      "type": "string",
                      "description": "The filename of the PDF."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No file attached to this salesbook invoice",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payment-conditions": {
      "get": {
        "tags": [
          "Payment Conditions"
        ],
        "summary": "Get all payment conditions",
        "description": "Get a list of all payment conditions configured for this administration.",
        "responses": {
          "200": {
            "description": "Array of payment conditions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentCondition"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/templates": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "Get all templates",
        "description": "Get a list of all document templates configured for this administration.",
        "responses": {
          "200": {
            "description": "Array of templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Template"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/vat": {
      "get": {
        "tags": [
          "VAT"
        ],
        "summary": "Get all VAT options",
        "description": "Get a list of all VAT/tax rates configured for this administration, including their percentages, codes and availability status.",
        "responses": {
          "200": {
            "description": "Array of VAT options",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Vat"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ledgers": {
      "get": {
        "tags": [
          "Ledgers"
        ],
        "summary": "Get all ledger accounts",
        "description": "Get a list of all ledger accounts (chart of accounts) for this administration, including VAT codes, cost centre settings, RGS codes and condensation codes.",
        "responses": {
          "200": {
            "description": "Array of ledger accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Ledger"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/costs": {
      "get": {
        "tags": [
          "Costs"
        ],
        "summary": "Get all cost centre accounts",
        "description": "Get a list of all cost centre accounts for this administration.",
        "responses": {
          "200": {
            "description": "Array of cost centre accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CostCentre"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/currencies": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Get all currencies",
        "description": "Get a list of all currencies configured for this administration, including exchange rates.",
        "responses": {
          "200": {
            "description": "Array of currencies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Currency"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/journals": {
      "get": {
        "tags": [
          "Journals"
        ],
        "summary": "Get all journals",
        "description": "Get a list of all journals (dagboeken) for this administration.",
        "responses": {
          "200": {
            "description": "Array of journals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Journal"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscription-types": {
      "get": {
        "tags": [
          "Subscription types"
        ],
        "summary": "Get all subscription types",
        "description": "Get a list of all subscription types (abonnementstypes) for this administration.",
        "responses": {
          "200": {
            "description": "Array of subscription types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SubscriptionType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/attachments": {
      "get": {
        "tags": [
          "Attachments"
        ],
        "summary": "Get all attachments",
        "description": "Get a list of all available document attachments for this administration.",
        "responses": {
          "200": {
            "description": "Array of attachments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Attachment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get all products",
        "description": "Get a list of all products for this administration, including supplier information. Requires the trade module to be active.",
        "responses": {
          "200": {
            "description": "Array of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/receipts/{id}": {
      "get": {
        "tags": [
          "Receipts"
        ],
        "summary": "Get a single receipt",
        "description": "Get a single receipt by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the receipt.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Receipt details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Receipt"
                }
              }
            }
          },
          "404": {
            "description": "Receipt not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Receipts"
        ],
        "summary": "Update a receipt",
        "description": "Update an existing receipt.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the receipt to update.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReceiptInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Receipt updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "The ID of the updated receipt."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Receipt not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/receipts": {
      "get": {
        "tags": [
          "Receipts"
        ],
        "summary": "Get a list of receipts",
        "description": "Get a paginated list of all receipts (bonnetjes) for this administration.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (default = 1).",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "records",
            "in": "query",
            "required": false,
            "description": "Number of records per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter results by processing status.",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "processed"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort order in `field.direction` format. Supported fields: `date`, `type`, `description`, `amount`. Default: `date.desc`.",
            "schema": {
              "type": "string",
              "example": "date.desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of receipts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "receipts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Receipt"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Receipts"
        ],
        "summary": "Create a new receipt",
        "description": "Create a new receipt.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReceiptInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Receipt created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "The ID of the created receipt."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/memorandum/{id}": {
      "get": {
        "tags": [
          "Memorandum"
        ],
        "summary": "Get a single memorandum entry",
        "description": "Get a single memorandum journal entry by ID, including all line items.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the memorandum entry.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Memorandum entry details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Memorandum"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Memorandum"
        ],
        "summary": "Update a memorandum entry",
        "description": "Update an existing memorandum journal entry. All lines are replaced with the newly provided lines. Debit and credit totals across all lines must be equal.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the memorandum entry to update.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemorandumInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Memorandum entry updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "The ID of the updated memorandum entry."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/memorandum": {
      "get": {
        "tags": [
          "Memorandum"
        ],
        "summary": "Get a list of memorandum entries",
        "description": "Get a paginated list of all memorandum journal entries with their line items.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
[...]
